body {
    font-family: 'Arial', sans-serif;
    background-color:cornsilk;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    background-color:#f2bc94;
    border-radius: 10vh;
    box-shadow: 10px 10px  #989ba0;
    border-color: rgba(108,89,91,255);
    border-style: outset;
    padding: 35px;
    width: 80%;
    font-size:50px;
    max-width: 600px;
    text-align: center;
    color:#30110d;
}
#clock-container{
    padding:25vh;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35%;
    opacity:0.7;
    border-color: goldenrod;
    box-shadow: 5px 5px goldenrod ;
    border-style:outset;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:50vh;
    max-width: 60vh;
}
#part{
    color:#722620;
}